.table {
    width: 100%;
}

table, td, tr {
    border: white solid 1px;
    text-align: center;
}

tr {
    background: #61cc5d;
    color: #404040;
}

table img {
    width: 80px;
    height: 80px;
}


